// palette colors
$white-color:          rgb(255, 255, 255);
$gren-color:           rgb(31, 174, 150);
$green-color:          rgb(105, 105, 105);
$black-color:          rgb(23, 22, 33);
//component backgound color
$footer-bcg:           rgb(23, 22, 33);

//header dimensions
$height-header:80px;
$padding-header:180px;

//footer dimensions
$height-footer:120px;
$padding-footer:300px;